.container {
  text-align: center;
  background: #1e1e1e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00000055;
  width: 350px;
}

button {
  background: #6c63ff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  transition: 0.2s;
}

button:hover {
  background: #5851d6;
}
