body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
